/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');



/* Fim dos Imports */

/* Variáveis */
$bg-color: #071E22;
$pri-color: #3ABEFF;
$sec-color: #004fff;
$shadow-color: #DCE2C8;

$ff-titles: 'Josefin Sans';
$ff-body: 'Source Sans Pro';
/* Fim das Variáveis */


/* Mixins */

@mixin flex{
display: flex;
align-items: center;
justify-content: center;    
}

/* Fim dos Mixins */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $bg-color;
    font-family: $ff-body;
}
.header{
    @include flex;
    color: $pri-color;
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 .5em $shadow-color;

    &-title{
        text-align: left;
        font-size: 1.5rem;
        font-family: $ff-titles;
        flex-grow: 1;
    }

    &-menu{
        
        ul{
            list-style: none;

            li{
                display: inline;

                a{
                    position: relative;
                    padding: .5rem;
                    text-decoration: none;
                    color: $pri-color;

                    &::after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: currentColor;
                        transform: scaleX(0);
                        -webkit-transform: scaleX(0);
                        transform-origin: center;
                        transition: transform 550ms ease-in-out;
                    }
    
                    &:hover::after{
                        transform: scaleX(1);
                        -webkit-transform: scaleX(1);
                        transform-origin: center;
                        -webkit-transform-origin: center;
                    }
    
                    &.active{
    
    
                        &::after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            border-radius: 3rem;
                            background-color: $sec-color;
                            transform: scaleX(0.3);
                            -webkit-transform: scaleX(0.3);
                            transform-origin: center;
                            -webkit-transform-origin: center;
                        }
                    }
                }
            }
        }
    }
}
form{
    text-align: center;

    label{
        display: block;
    }
}

.botao{
    width: 110px;
    border-radius: 12px;
    background-color: $shadow-color;
    color: $sec-color;
}